.features-section .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features-section .col-md-6.image-column {
  flex: 0 0 40%;
  max-width: 40%;
}

.features-section .col-md-6.text-column {
  flex: 0 0 60%;
  max-width: 60%;
  text-align: left;
  padding-left: 20px;
}

.features-section img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0;
}

.full-width-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 20px;
  gap: 20px;
}

.full-width-section .text-column {
  flex: 0 0 60%;
  max-width: 60%;
  text-align: left;
}

.full-width-section .image-column {
  flex: 0 0 40%;
  max-width: 40%;
}


.full-width-section img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

@media (max-width: 768px) {

  .features-section .row,
  .full-width-section {
    flex-direction: column;
  }

  .features-section .col-md-6,
  .full-width-section .text-column,
  .full-width-section .image-column {
    flex: unset;
    max-width: 100%;
  }

  .full-width-section img {
    margin-top: 20px;
  }
}

.corazon {
  max-width: 400px;
  width:80% !important;
  /* Limita el ancho máximo */
  height: auto;
  /* Mantiene la proporción */
  object-fit: cover;
  /* Ajusta la imagen dentro del contenedor */
}

.features-section h2 {
  font-size: 2rem;
  /* Aumenta el tamaño del título */
  font-family: 'Poppins', sans-serif;
  /* Fuente redondeada */
  color: #4a5568;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
}

.primerbloque {
  font-size: 1.1rem;
  /* Aumenta el tamaño del texto */
  font-family: 'Poppins', sans-serif;
  /* Fuente redondeada */
  line-height: 1.9;
  /* Mejora el espaciado entre líneas */
  color: #6b7280;
  margin-bottom: 20px;
}

.segundobloque {
    font-size: 1.1rem;
}