/* General del header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: white;
  /* Fondo blanco */
  color: #333;
  /* Texto oscuro */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* Sombra ligera */
}

.header-logo img {
  height: 50px;
  max-width: 100%;
  object-fit: contain;
}

/* Menú de navegación */
.header-menu {
  display: flex;
  /* Flexbox para alineación horizontal */
  justify-content: center;
  /* Centrar el menú horizontalmente */
  list-style: none;
  /* Quitar los puntos de lista */
  margin: 0;
  /* Quitar márgenes */
  padding: 0 1rem;
  /* Añadir relleno lateral */
  font-family: 'Montserrat', sans-serif;
  /* Aplicar la fuente Montserrat */
  flex: 1;
  /* Permitir que el menú ocupe el espacio restante */
}

.menu-item {
  display: inline-block;
  /* Garantizar que cada elemento sea inline */
  padding: 0 1rem;
  /* Espaciado entre los nombres del menú */
}

.menu-item a {
  text-decoration: none;
  /* Quitar subrayado */
  color: #333;
  /* Color del texto */
  font-size: 1.2rem;
  /* Tamaño de fuente */
  font-weight: bold;
  /* Negrita */
  font-family: 'Montserrat', sans-serif;
  /* Aplicar la fuente Montserrat */
}

.menu-item a:hover {
  color: #007bff;
  /* Color azul al pasar el ratón */
}

/* Íconos */
.header-icons {
  display: flex;
  align-items: center;
  /* Centrar iconos verticalmente */
  gap: 1.5rem;
  /* Más espaciado entre iconos */
  padding: 0 3rem;
  /* Añadir padding a la derecha */
  margin-left: auto;
  /* Empujar los iconos hacia la derecha */
}

.icon-image {
  width: 24px;
  height: 24px;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.icon-image:hover {
  transform: scale(1.1);
  /* Pequeño zoom al pasar el ratón */
}