.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  /* Centra horizontalmente el contenido */
  align-items: center;
  /* Centra verticalmente el contenido */
  background-image: url("/images/despacho-2.JPG");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 2rem;
  position: relative;
}

.hero-content {
  max-width: 75%;
  /* El cuadro de texto ocupa el 75% del ancho */
  background-color: rgba(0, 0, 0, 0.6);
  /* Fondo oscuro semitransparente */
  padding: 1.5rem;
  border-radius: 8px;
  /* Opcional: bordes redondeados */
  text-align: center;
  /* Texto centrado */
    margin-left: 30%;
}


.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.hero .btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  color: white;
  background-color: #0066cc;
  /* Color azul o el que usas en "Servicios" */
  border: none;
  border-radius: 4px;
  /* Bordes redondeados */
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.hero .btn:hover {
  background-color: #004a99;
  /* Color más oscuro en hover */
}

@media screen and (max-width: 768px) {
  .hero-content {
    max-width: 90%;
    /* Ajusta el ancho en pantallas pequeñas */
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text p {
    font-size: 1rem;
  }
}